<div class="col-md-10 col-sm-10 center-block">
    <div class="thumbnail padded">
        <div>
            <div class="panel-heading">
                <h4 class="panel-title" id="project-title" data-projid="{{Id}}">
                    {{Name}}
                </h4>
            </div>
            <p>
                <a class="">Posted by: {{Client.Email}}</a>
            </p>
            <p>Posted on: {{TimePublished}}</p>
            <p>Pay/Hour: ${{PricePerHour}}</p>
            <p>
                Category: <a href="#/projects/category/{{Category.Id}}">{{Category.Name}}</a>
            </p>
        </div>
        <div class="caption">
            <div class="long-text">
                <p>
                    Description:
                    {{Description}} Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vel risus nulla. Nullam vel leo lacinia, malesuada turpis in, dignissim libero. Cras sagittis sapien at dui vulputate, non eleifend massa pulvinar. Nunc massa ante, consectetur quis turpis quis, varius venenatis lacus. Morbi magna velit, gravida a dui non, rhoncus rutrum tortor. Nam luctus lectus vitae mi congue sagittis. Nulla facilisi. Fusce vitae consectetur nunc, eget lacinia diam.
                </p>
            </div>
            {{#if Attachments}}
            <div>
                <span>Attachments:</span>
                <ul>
                    {{#each Attachments}}
                    <li>
                        <a href="http://{{Url}}">{{Name}}</a>
                    </li>
                    {{/each}}
                </ul>
            </div>
            {{/if}}
        </div>
        <div class="caption">
            <p class="panel-heading">Your Activity Log:</p>
            <div class="row text-center">
                <div class="col-md-4">Session:</div>
                <div class="col-md-4">From:</div>
                <div class="col-md-4">To:</div>
            </div>
            {{#each WorkLogs}}
            <div class="row" data-logid="{{Id}}">
                <div class="col-md-4 bold">{{ShortDescription}}</div>
                <div class="col-md-4">{{StartTime}}</div>
                {{#if EndTime}}
                <div class="col-md-4">{{EndTime}}</div>
                {{else}}
                <div class="col-md-4"><button class="btn btn-sm btn-danger" id="btn-worklog-end">End Session</button>
                </div>
                {{/if}}
            </div>
            {{/each}}
        </div>
        <form class="caption row" id="form-worklog-create">
            <button class="btn btn-md btn-primary" id="btn-worklog-createForm">Begin Session</button>
        </form>
        <div class="caption">
            <div>
                {{#if IsComplete}}
                <p class="alert-success text-capitalize text-center text-success padding-top-bottom">This project has been completed!</p>
                {{else}}
                <div class="caption">
                    <p>Are you ready with the project already?</p>
                    <button class="btn btn-block btn-success" id="btn-project-finalize">Finalize project and send Invoice!</button>
                </div>
                {{/if}}
            </div>
        </div>
    </div>
</div>
