<div class="shoutbox panel container-width-60 center-block">

    <h1 class="panel-heading">
        Shout box
    </h1>

    <ul class="shoutbox-content"></ul>

    <div class="shoutbox-form panel-body panel">
        <h2>Write a message <span>×</span></h2>

        <form class="form-container">
            <label for="shoutbox-name" class="">Name: </label> <input type="text" id="shoutbox-name" name="name" />
            <label class="shoutbox-comment-label" for="shoutbox-comment">Message: </label> <input type="text" id="shoutbox-comment" name="comment" class="input-group-sm" maxlength="240">
            <button class="btn btn-sm btn-success">Shout!</button>
        </form>
    </div>
</div>

<script src="../scripts/app/shoutbox.js"></script>