<div class="container container-width-30 center-block form-container">
    <form class="form-signin">
        <h2 class="form-signin-heading">Please sign in</h2>
        <input type="text" class="form-control required-input" id="login-username" placeholder="Username" required="" autofocus="">
        <input type="password" class="form-control sign-in-password-input required-input" id="login-password" placeholder="Password" required="">

        <button class="btn btn-lg btn-primary btn-block sign-in-button" id="btn-login">
            Sign in
        </button>
    </form>
</div>