<div class="container col-md-12">
    <form class="form-signin">
        <h2 class="form-signin-heading">Please sign up</h2>
        <input type="text" class="form-control required-input" id="reg-email" placeholder="Email Address" required="" autofocus="">
        <input type="text" class="form-control required-input" id="reg-fname" placeholder="First Name" required="">
        <input type="text" class="form-control" id="reg-lname" placeholder="Last Name">
        <input type="password" class="form-control sign-in-password-input required-input" id="reg-password" placeholder="Password" required="">
        <input type="password" class="form-control sign-in-confirm-password-input required-input" id="reg-confirmpassword" placeholder="Confirm Password" required="">
        
        <br />

        <h4 class="sr-only">You are an</h4>
        <label for="reg-type-employee" class="sr-only-focusable">Employee</label>
        <input name="user-type" type="radio" id="reg-type-employee" />
        <label for="reg-type-client" class="sr-only-focusable">Client</label>
        <input name="user-type" type="radio" id="reg-type-client" checked="checked"/>

        <button class="btn btn-lg btn-primary btn-block sign-in-button">
            Sign up
        </button>
    </form>
</div>