{{#if this}}
{{#each this}}
<div class="col-md-12 col-sm-12">
    <div class="thumbnail float-left clearfix">
        <div>
            <div class="panel-heading">
                <h4 class="panel-title">
                    {{Name}}
                </h4>
            </div>
            <p>
                <a class="">Posted by: {{Client.Email}}</a>
            </p>
            <p>Posted on: {{TimePublished}}</p>
            <p>Pay/Hour: ${{PricePerHour}}</p>
            <p>
                <a href="#/projects/{{Id}}">Go to full project page</a>
            </p>
        </div>
        <div class="caption">
            <div class="long-text">
                <p>
                    Description:
                    {{Description}} Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vel risus nulla. Nullam vel leo lacinia, malesuada turpis in, dignissim libero. Cras sagittis sapien at dui vulputate, non eleifend massa pulvinar. Nunc massa ante, consectetur quis turpis quis, varius venenatis lacus. Morbi magna velit, gravida a dui non, rhoncus rutrum tortor. Nam luctus lectus vitae mi congue sagittis. Nulla facilisi. Fusce vitae consectetur nunc, eget lacinia diam.
                </p>
            </div>
            <div>
                <span>Attachments:</span>
                <ul>
                    {{#each Attachments}}
                    <li>
                        <a href="http://{{Url}}">{{Name}}</a>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>
        <div class="caption">
            <div>
                {{#if IsComplete}}
                <p class="alert-success text-capitalize text-center text-success padding-top-bottom">HAS BEEN COMPLETED!</p>
                {{else}}
                {{#if Employee}}
                <p class="alert-danger text-capitalize text-center text-danger padding-top-bottom">IS BEING WORKED ON!</p>
                {{else}}
                <p class="alert-info text-capitalize text-center text-info padding-top-bottom">IS NOT BEING WORKED ON.</p>
                {{/if}}
                {{/if}}
            </div>
        </div>
    </div>
</div>
{{/each}}
{{else}}
<div class="panel panel-default">
    <div class="text-center padding-top-bottom">NO ENTRIES IN THIS CATEGORY!</div>
</div>
{{/if}}