{{#if this}}
{{#each this}}
<div class="col-md-4">
    <div class="thumbnail float-left clearfix">
        <div>
            <div class="panel-heading">
                <h4 class="panel-title">
                    {{Name}}
                </h4>
            </div>
            <p>
                <a class="">Posted by: {{Client.Email}}</a>
            </p>
            <p>Posted on: {{TimePublished}}</p>
            <p>Pay/Hour: ${{PricePerHour}}</p>
            <p>
                <a href="#/projects/{{Id}}">Go to full project page</a>
            </p>
        </div>
        <div class="caption">
            <div class="long-text">
                <p>
                    Description:
                    {{Description}} askjod kaskdjla skjdla skjdklas  jdk laskjodkas kdj laskjdlaskj dklas jdklaskj skjdla skjdklas  jdk laskjodkas kdj laskjdlaskj dklas jdklaskj skjdla skjdklas  jdk laskjodkas kdj laskjdlaskj dklas jdklaskj skjdla skjdklas  jdk laskjodkas kdj laskjdlaskj dklas jdklaskj
                </p>
            </div>
            <div>
                <span>Attachments:</span>
                <ul>
                    {{#each Attachments}}
                    <li>
                        <a href="{{Url}}">{{Name}}</a>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>
        <div class="caption">
            <div>
                {{#if Employee}}
                <p class="alert-danger text-capitalize text-center text-danger">IS BEING WORKED ON!</p>
                {{else}}
                <p class="alert-info text-capitalize text-center text-info">IS NOT BEING WORKED ON.</p>
                {{/if}}
            </div>
        </div>
    </div>
</div>
{{/each}}
{{else}}
<div class="panel panel-default">
    <div class="text-center">NO ENTRIES IN THIS CATEGORY!</div>
</div>
{{/if}}