<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="list-group">
                {{#each this}}
                <a href="#/users/projects/{{Id}}" class="list-group-item">{{#if IsComplete}}<span class="text-success">[Finished] </span>{{else}} {{#if Employee}}<span class="text-warning">[Active] </span>{{else}}<span class="text-danger">[Inactive] </span>{{/if}}{{/if}}{{Name}}</a>
                {{/each}}
            </div>
        </div>
        <div class="col-md-9 row">
            <div class="thumbnails clearfix limit-bottom" id="project-view">

            </div>
        </div>

    </div>
</div>