<div class="container">
    {{#if this}}
    <div class="row">
        <div class="col-md-3">
            <div class="list-group">
                {{#each this}}
                <a href="#/users/projects/{{Id}}" class="list-group-item">{{#if IsComplete}}<span class="text-success">[Finished] </span>{{else}} {{#if Employee}}<span class="text-warning">[Active] </span>{{else}}<span class="text-danger">[Inactive] </span>{{/if}}{{/if}}{{Name}}</a>
                {{/each}}
                <div class="panel panel-default">
                    <div class="text-center padding-top-bottom">NO ENTRIES IN THIS CATEGORY!</div>
                </div>
            </div>
        </div>
        <div class="col-md-9 row">
            <div class="thumbnails clearfix limit-bottom" id="project-view">

            </div>
        </div>
    </div>
    {{else}}
    <div class="panel panel-default">
        <div class="text-center padding-top-bottom">YOU HAVE NO PROJECTS AT THIS POINT!</div>
    </div>
    {{/if}}
</div>